#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logov {
  height: 1.5em;
  padding: 0.4em;
}

.banner {
  background-color: #5283FB;
  padding: 0.5em;
  padding-bottom: 0.6em;
}

.urlbanner {
  font-weight: 400;
  color: white;
  cursor: pointer;
  font-size: small;
}

nav {
  background-color: #0F1B55;
  /* display: block; */
}

nav .container {
  display: flex;
  padding: 0.3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
  max-width: 1000px;
  padding: 4rem 1rem;
}

nav .navbar {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1em;
  /* border: 3px solid green; */
  
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  /* list-style-position: initial;
  list-style-image: initial;
  list-style-type:none ; */
  /* padding: 0; */
  margin: 0;
  width: auto;
}

ul {
  /* border: 1px solid yellow; */
  padding: 1em;
  height: 100%;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; */
  /* border-right: 3px solid red; */
}

/* li {
  
  
} */

nav ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: lowercase;
}

nav ul li {
  /* display: block; */
  padding: 0 0.3rem;
  font-weight: 400;
  margin: 0 auto;
}

.intern {
  border-right: 2px solid white;
  padding-right: 0.5rem;
}

.publicButton {
  background-color: #5283FB;
  color: white;
  text-transform: uppercase;
  text-align: center;
  /* padding: 0.02rem 1.7rem; */
  font-size: 1.1rem;
  border-radius: 8px;
  /* border: 1px solid red; */
  
}

.publicButton a {
  color: white;
  text-decoration: none;
  
}

.publicar {
 padding: 0.3em 1.8em 0.3em 1.8em;
 /* border: 1px solid yellow; */
 
}

#description {
  background-color: #eb7fb9;
  text-align: left;
  /* font-family: 'Graycliff', Tahoma, Geneva, Verdana, sans-serif; */
}

.subcontainer {
  display: flex;
}

#description .subcontainer>.cover {
  max-height: 350px;
  float: left;
  margin-right: 3rem;
}

.cover {
  max-width: 257px;
}

body {
  color:#0F1B55;
  /* font-family: Greycliff; */
  font-size: 1.2rem;
  margin: 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* .subcontainer .content {
  margin-top: 1rem;
}

.content {
  column-count: 1;
}

article {
  display: block;
} */

#description .subcontainer header h1 {
  margin: 0;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 3rem;
  font-weight: 100;
}

.grupoboton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.grupoboton button {
  margin: 0 0.25rem;
  padding: 0.25rem 1rem;
  border-color: white;
  font-size: 1rem;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  /* padding: 0.6rem 3.4rem; */
  border-radius: 16px;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.5s background;
}

button:hover{
  color: #eb7fb9;
  background-color: white;
}

#autor {
  background-color: #000;
  position: relative;
  height: auto;
}

#autor .container {
  color: #eb7fb9;
  padding: 4rem 2rem;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

/* article {
  display: block;
} */

#autor .container h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}


h1 {
  font-size: 2rem;
}

#autor .container .subcontainer {
  display: flex;
  justify-content: space-between;
}

#autor .container .subcontainer .left {
  width: 60%;
}

#autor .container .subcontainer .left h2 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  text-align: left;
}

#autor .container .subcontainer .left h3 {
  margin: 0;
  line-height: normal;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: left;
}

article a {
  text-decoration: none;
  color: inherit;
}

#autor .container .subcontainer .left .content{
  color: #fff;
  padding: 2rem 0;
  text-align: left;
}

#autor .container .subcontainer .left .content .hiddenContent{
  display: none;
}

#autor .container .subcontainer .left button {
  color: #eb7fb9;
  border-color: #eb7fb9;
  margin-top: 2rem;
  font-weight: bold;

  min-width: 100px;
  padding: 0.6rem 3.4rem;
  background-color: transparent;
  font-size: 1.2rem;
  transition: 0.5s background;
}

#autor .container .subcontainer .left button:hover {
  color: #000;
  background-color: #eb7fb9;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  border: 1px solid yellow;
  border-radius: 20px;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: 'Graycliff';
  src:url(/savvily/src/fonts/Fontspring-DEMO-greycliffcf-regular.otf);
}

/* div {
  border: 1px solid pink;
} */
